<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Leaderboards</key>
	<dict>
		<key>469304</key>
		<string>469304</string>
		<key>469314</key>
		<string>469314</string>
		<key>470534</key>
		<string>470534</string>
		<key>469804</key>
		<string>469804</string>
		<key>469864</key>
		<string>469864</string>
		<key>470544</key>
		<string>470544</string>
		<key>470554</key>
		<string>470554</string>
	</dict>
</dict>
</plist>
